.header, .news, .newsletter, .socialMedia, .footer, .footer__links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px; }

.socialMedia__article, .footer__list, .footer__links, .footer__copy, .footer__privacy {
  font-family: "Inter", sans-serif;
  font-weight: 400; }

.header {
  max-width: 1920px;
  height: 980px;
  background-image: url("/assets/header/header-img.png"); }
  .header__nav {
    grid-column: 2 / 12;
    height: 56px;
    margin-top: 44px; }
  .header__btn {
    height: 48px;
    width: 134px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #FFF;
    background-color: #DF542E;
    grid-column: 2 / 3; }
  .header__title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #FFF;
    grid-column: 2 / 8; }
  .header__date {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    grid-column: 2 / 3; }
  .header__dots {
    grid-column: 11 / 12;
    justify-self: end; }

.nav {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .nav__pages {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #FFF; }
    .nav__pages ul {
      display: flex;
      list-style: none; }
    .nav__pages li {
      margin-right: 80px; }
  .nav__search i {
    height: 20px;
    width: 20px; }
  .nav__social i {
    height: 32px;
    width: 32px; }
  .nav__social ul {
    display: flex;
    list-style: none; }
  .nav__social li {
    margin-right: 16px; }
  .nav__btn button {
    height: 57px;
    width: 154px;
    border: 1px solid #FFF;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: #FFF;
    background-color: transparent; }

.header, .news, .newsletter, .socialMedia, .footer, .footer__links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px; }

.socialMedia__article, .footer__list, .footer__links, .footer__copy, .footer__privacy {
  font-family: "Inter", sans-serif;
  font-weight: 400; }

.news {
  height: 1102px;
  background-color: #FFF;
  font-family: "Inter", sans-serif; }
  .news__title {
    grid-column: 2 / 3;
    align-self: end; }
  .news__article {
    height: 251px;
    grid-column: 2 / 8;
    border-top: 1px solid rgba(0, 0, 0, 0.2); }
    .news__article--position {
      width: 608px;
      margin: 48px 0; }
  .news__popular {
    grid-column: 9 / 12;
    grid-row: 1 / 3;
    align-self: end; }
    .news__popular span {
      color: #DF542E; }
    .news__popular article {
      display: flex;
      align-items: center; }
      .news__popular article p {
        margin-right: 24px; }

.article__title {
  font-size: 2rem; }
.article__desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5); }
  .article__desc .dot {
    margin: 0 15px; }

.header, .news, .newsletter, .socialMedia, .footer, .footer__links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px; }

.socialMedia__article, .footer__list, .footer__links, .footer__copy, .footer__privacy {
  font-family: "Inter", sans-serif;
  font-weight: 400; }

.newsletter {
  height: 560px;
  max-width: 1920px;
  grid-template-rows: repeat(4, 140px);
  align-items: center;
  background-color: #000;
  color: #FFF;
  font-family: "Inter", sans-serif; }
  .newsletter__illustration {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    margin-top: 89px; }
  .newsletter__title {
    grid-column: 5 / 9;
    font-weight: 800; }
  .newsletter__subtitle {
    grid-column: 5 / 8; }
  .newsletter__input {
    grid-column: 5 / 9;
    height: 68px;
    border: 1px solid #DF542E;
    color: #FFF;
    font-family: "Inter", sans-serif;
    background-color: transparent; }
  .newsletter__btn {
    grid-column: 9 / 11;
    height: 68px;
    font-family: "Inter", sans-serif;
    color: #FFF;
    background-color: #DF542E; }
  .newsletter__terms {
    grid-column: 5 / 8;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7); }
    .newsletter__terms input {
      height: 20px;
      width: 20px;
      border: 1px solid #DF542E; }
    .newsletter__terms p {
      margin-left: 18px; }

.header, .news, .newsletter, .socialMedia, .footer, .footer__links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px; }

.socialMedia__article, .footer__list, .footer__links, .footer__copy, .footer__privacy {
  font-family: "Inter", sans-serif;
  font-weight: 400; }

.socialMedia {
  height: 676px;
  background-color: #F4F4F4; }

.article__img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #D8D8D8; }

.header, .news, .newsletter, .socialMedia, .footer, .footer__links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px; }

.socialMedia__article, .footer__list, .footer__links, .footer__copy, .footer__privacy {
  font-family: "Inter", sans-serif;
  font-weight: 400; }

.newsEnd {
  height: 500px;
  background-color: white; }

.header, .news, .newsletter, .socialMedia, .footer, .footer__links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px; }

.socialMedia__article, .footer__list, .footer__links, .footer__copy, .footer__privacy {
  font-family: "Inter", sans-serif;
  font-weight: 400; }

.footer {
  height: 640px;
  background-color: #000;
  color: #FFF; }
  .footer__logo {
    grid-column: 2 / 3;
    margin-top: 134px; }
  .footer__list {
    list-style: none;
    font-size: 14px;
    margin-top: 134px; }
    .footer__list li:nth-child(1) {
      font-weight: 800; }
    .footer__list li {
      margin-bottom: 30px; }
  .footer__list:nth-child(2) {
    grid-column: 4 / 5; }
  .footer__list:nth-child(3) {
    grid-column: 6 / 7; }
  .footer__list:nth-child(4) {
    grid-column: 8 / 9; }
  .footer__links {
    height: 68px;
    grid-column: 1 / 13;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    align-items: center; }
    .footer__links--support {
      grid-column: 2 / 4;
      font-weight: 800; }
    .footer__links button {
      grid-column: 4 / 6;
      height: 68px;
      border: 0;
      padding: 0;
      background-color: #D8A42F;
      font-family: "Inter", sans-serif;
      font-weight: 800;
      font-size: 16px; }
    .footer__links--follow {
      grid-column: 8 / 9;
      font-weight: 800; }
    .footer__links--social {
      height: 64px;
      grid-column: 10 / 12;
      align-items: center;
      display: flex; }
      .footer__links--social i {
        padding: 14px 18px;
        border-left: 1px solid rgba(255, 255, 255, 0.2); }
  .footer__copy {
    grid-column: 2 / 5;
    color: rgba(255, 255, 255, 0.7); }
  .footer__privacy {
    grid-column: 11 / 12;
    justify-self: end;
    color: rgba(255, 255, 255, 0.7); }

body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: black; }

ul {
  padding: 0;
  margin: 0; }

button {
  border: none; }

/*# sourceMappingURL=index.css.map */
