$primary: #DF542E;
$inter: 'Inter', sans-serif;
$white: #FFF;
$white-opacity: rgba(255,255,255,0.7);
$white-2 : rgba(255,255,255,0.2);
$black: #000;
$black-opacity: rgba($color: #000, $alpha: 0.2);
$yellow: #D8A42F;