@import 'base';

.otherNews {
  height: 1875px;
  background-color: $white;
  @extend %grid-12;
  grid-template-rows: repeat(7, 1fr);
  font-family: $inter;

  &__article {
    min-height: 252px;
    grid-column: 2 / 8;
    @extend %grid-6;
    border-top: 1px solid $black-opacity;
  }

  &__more {
    grid-column: 2 / 4;
    grid-row: 7 / 8;
    color: $primary;
  }

  &__upcoming {
    grid-column: 9 / 12;
    grid-row: 1 / 3;
  }

  &__ranking {
    grid-column: 9 / 12;
    grid-row: 3 / 5;
    @extend %grid-3;
    grid-template-rows: 1fr repeat(1fr, 11);
  }
}

.article {

}

.ranking {
  &__title {
    grid-column: 1 / 2;
  }

  &__date {
    grid-column: 3 / 4;
  }
}